<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>1220.space Wifi Login</title>
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Plans & Pricing Tables Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
<!--web-fonts-->
</head>
<body>
			<div class="main">
				<div class="login">
					<div class="login-top">
						<img src="{{ url_for('static', filename='images/p.png') }}">
					</div>
					<h1>Welcome to 1220.space WIFI</h1>
					<div class="login-bottom">
					{% if message  %}
						<div class="isa_error"> {{ message }}</div>
					{% endif %}

					<form method="post" action="/wifidog/login/">
						<input name="gw_address" type="hidden" value="{{ gw_address }}">
						<input name="gw_port" type="hidden" value="{{ gw_port }}">
						<input name="username" type="text" placeholder="Username" required=" " autofocus>
						<input name="password" type="password" class="password" placeholder="Password" required=" ">
						<input type="submit" value="login">
					</form>
					<a href="#"><p>Forgot your password? Click Here</p></a>
					</div>
				</div>
			</div>
		<div class="footer">
			<p>&copy 2015 CSharp Inc. | Design by <a href="http://w3layouts.com">W3layouts.</a></p>
		</div>

</body>
</html>
